.Card {
  border-style: solid;
  border-width: 1px;
  width: 100%;
 border-radius: 25px;
}

.avatar {
  width: 90%;
  border-radius: 35px;
  margin-left: 4%;
  margin-right: 2%;
}

.h1nombre{
  
  width: 100%;
  text-align: center;
  background: cyan;
}


.datosP{
  cursor: pointer;
  width: 100%;
  
}

.div1{
  margin-left: 2%;
  margin-right: 2%;
  margin-left: 5%;
  
}

.grilla{
  border-width: 5px;
  border-style: solid;
  border-color: red;
  display: grid;
  grid-template-columns: 25% 25%25%25%;
  
  justify-content: center;
  grid-gap: 25px;
 
  
}