.calcu {
  height: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "pant"
    "btn";
}

.pantalla {
  grid-area: pant;
  border-style: solid;
  border-width: 1px;
  background: aqua;
}

.botones {
  grid-area: btn;
  border-style: solid;
  border-width: 1px;
  background: orange;
  display: grid;
  grid-template-columns: 25% 25%25%25%;
  grid-template-rows: 20%20%20%20%20%;
  grid-template-areas:
    "siete ocho nueve del"
    "cuatro cinco seis plus"
    "uno dos tres rest"
    "dot cero div mul"
    "res res igu igu";
}

.siete {
  grid-area: siete;
}

.ocho{
    grid-area: ocho;
}
