.calcu {
  height: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "pant"
    "btn";
}

.pantalla {
  grid-area: pant;
  border-style: solid;
  border-width: 1px;
  background: aqua;
}

.botones {
  grid-area: btn;
  border-style: solid;
  border-width: 1px;
  background: orange;
  display: grid;
  grid-template-columns: 25% 25%25%25%;
  grid-template-rows: 20%20%20%20%20%;
  grid-template-areas:
    "siete ocho nueve del"
    "cuatro cinco seis plus"
    "uno dos tres rest"
    "dot cero div mul"
    "res res igu igu";
}

.siete {
  grid-area: siete;
}

.ocho {
  grid-area: ocho;
}

.nueve {
  grid-area: nueve;
}

.del {
  grid-area: del;
}
.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}
.seis {
  grid-area: seis;
}
.sum {
  grid-area: plus;
}
.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}
.tres {
  grid-area: tres;
}

.res {
  grid-area: rest;
}

.punto {
  grid-area: dot;
}

.cero {
  grid-area: cero;
}

.divi {
  grid-area: div;
}

.mul {
  grid-area: mul;
}

.reset {
  grid-area: res;
}

.igual {
  grid-area: igu;
}

.tecla {
  width: 100%;
  height: 100%;
}
